.quiz {
  position: relative;
  width: 400px;
  max-width: 100%;
  margin: auto;
}

.quiz__header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  display: grid;
  grid-template-columns: max-content 1fr;
  top: -68px;
  width: 100%;
}

.quiz__title {
  position: relative;
  top: 15px;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 3rem;
  white-space: nowrap;
}

.quiz__img {
  max-width: 100%;
}

.quiz__content {
  background-color: #ffffff;
  padding: 68px 32px;
  border-radius: 24px;
}

.quiz__next-question-button {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #f9a826;
  border: none;
  border-radius: 12px;
  padding: 15px 37px;
  margin: 15px 0 0 auto;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
}

.quiz__next-question-button:hover {
  background-color: #ef9f21;
}
