.question__statement {
  color: #2f527b;
  font-size: 2.4rem;
}

.question__options {
  list-style-position: inside;
  list-style-type: upper-alpha;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: count A;
}

.question__option {
  color: #6066d0cc;
  padding: 15px 20px;
  font-size: 1.8rem;
  border: 2px solid #6066d0b2;
  border-radius: 12px;
  counter-increment: count;
  position: relative;
  cursor: pointer;
}

.question__option:hover {
  background-color: #f9a826;
  border-color: #f9a826;
  color: #ffffff;
}

.question__option::marker {
  content: counter(count, upper-alpha);
}

.question__option__text {
  padding-left: 20px;
}
