.results {
  text-align: center;
}

.results__img {
  max-width: 100%;
}

.results__title {
  font-size: 3.8rem;
  margin-top: 30px;
  font-weight: bold;
  color: #1d355d;
}

.results__info {
  font-size: 2rem;
  margin-top: 10px;
  color: #1d355d;
}

.results__correct-answers {
  font-size: 3.6rem;
  font-weight: bold;
  color: #6fcf97;
}

.results__try-again-button {
  font-size: 1.8rem;
  color: #1d355d;
  border: 2px solid #1d355d;
  background-color: inherit;
  padding: 15px 40px;
  border-radius: 12px;
  margin-top: 40px;
  cursor: pointer;
}

.results__try-again-button:hover {
  background-color: #1d355d;
  color: white;
}
